html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: grey;
}

.outer_container{
    flex: content;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 1200px;
}

.header{
    color: blue;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titleTextContainer{
    flex: auto;
}

.row {
    display: flex;
  }
  
.columnLeft {
    flex: 70%;
}

.columnRight {
    flex: 30%;
}

.headline{
    color: lightblue;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}