html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.outer_container{
    flex: content;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 1200px;
}

.header{
    color: lightblue;
    font-size: 200%;
    padding-top: 2%;
}

.titleTextContainer{
    flex: auto;
    font-size: 100%;
}

#careerObjective{
  padding-top: 2%;
  padding-bottom: 2%;
}

.row {
    display: flex;
  }

.col {
  padding-right: 20px;
}
  
.columnLeft {
    flex: 70%;
    padding-right: 20px;
}

.columnRight {
    flex: 30%;
    padding-left: 20px;
}

.headline{
    font-size: 150%;
    font-weight: bold;
    color: orange;
}

.positionTitle{
  font-size: 125%;
}

.topnav {
    background-color: #333;
    overflow:hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }